/* Menu icon */
#toplevel_page_lantern-options .wp-menu-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#toplevel_page_lantern-options .wp-menu-image img {
    padding: 0;
}

/* Notices */
.toplevel_page_lantern-options .notice,
.lantern_page_lantern-telescope-options .notice {
    margin: 1rem 1rem 0 0;
}

/* Telescope page */
.lantern_page_lantern-telescope-options #wpwrap,
.lantern_page_lantern-telescope-options #wpcontent,
.lantern_page_lantern-telescope-options #wpbody,
.lantern_page_lantern-telescope-options #wpbody-content {
    height: 100%;
}
